body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

h1 {
    text-align: center;
}

h2, h3, h3 + p{
    padding: 5px 10px;
}

td {
    border: 4px solid black;
}

.box {
    margin-top: 20px;
}

.back {
    width: 130px;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color:black;
    padding: 10px 15px;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.back:hover {
    background-color: yellowgreen;
    color: black;
    cursor: pointer;
}

#second_box:hover, #third_box:hover, #fourth_box:hover {
    background-color:lightcyan;
}

#bonus_box {
    margin-bottom:25px;
}

#bonus_box:hover {
    background-color: yellow;
}

#img_example {
    text-align:center;
}